@import "tailwindcss";
@plugin "daisyui";

html,
body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, sans-serif;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
